<a 
  class="rounded-full p-[2px] bg-gradient-to-r from-violet-600 via-fuchsia-700 to-pink-600 
         hover:scale-105 transition-all duration-300 shadow-md hover:shadow-lg
         cursor-pointer inline-block"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="flex items-center justify-center gap-x-2 px-4 py-2 bg-black rounded-full text-white">
    <slot />
  </div>
</a>
